*{
  padding: 0;
  margin: 0;
}
body{
  font-family: "Barlow Semi Condensed", sans-serif;
  width: 100vw;
  height: 100%;
}
.wrapper{
  width: 100vw;
 height: 1200px;
  background: radial-gradient(134.34% 134.43% at 50% 0%, #1f3757 0%, #131537 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scoreboard{
  width: 700px;
  border: 1px solid white;
  border-radius: 15px;
  margin-top: 50px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.score{
  width: 150px;
  height: 114px;
  background: white;
  border-radius: 8px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tittle{
  margin-left: 30px;
}
.score h1{
  color: #565468;
  font-size: 56px;
}
.score p{
  color: #2a45c2;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2.5px;
}
.rules{
display: flex;
flex-direction: column;

}
.showRuleImage{
  width: 400px;
  height: 461px;
  margin-top: -580px;
  background: #FFFFFF;


justify-content: center;
position: relative;
display: none;
}
.ShowRules{
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 2.5px;
color: #FFFFFF;
border-radius: 5px;
border: 1px solid  #FFFFFF;
padding: 12px 24px;
position: absolute;

margin-top: 10px;
cursor: pointer;

}
.ShowRules h1:hover{
background-color: hsl(229,25%,31%);
transform: translate3d(0px, -2px, 0px);
}
.close{
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 2.5px;
color: #FFFFFF;
border-radius: 5px;
border: 1px solid  #FFFFFF;
padding: 12px 24px;
align-self: flex-end;
margin-right: 32px;
margin-top: 40px;
margin-left: 40px;
cursor: pointer;
justify-content: center;

}
.rules_image{
width: 336px;
height: 330px;
align-self: center;

  
}
.close:hover{
background-color: hsl(229,25%,31%);
transform: translate3d(0px, -2px, 0px);
}
.hands{
width: 470px;
height: 430px;
margin-top: 105px;


background-repeat: no-repeat;
background-position: center center;
display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
}
.hand{
cursor: pointer;
transition: all 0.25s;

}
.hand:hover{
transform: translate3d(0px, -8px, 0px);
}
/*Paper begins*/
.paper{
 
  background-position: center;
 
  
  
}
.hands .paper{
position: relative;
margin-right: 150px;
}
.try{
width: 312px;
height: 312px;
background-image: url(./images/bg-triangle.svg);
background-repeat: no-repeat;
position: absolute;
margin-top: 66.5px;

}
.paper_outer_shawdow {
  width: 130px;
  height: 133px;
  background: rgba(42,68,194,1);
  opacity: 1;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1967056393623352);
}
.paper_box {
  width: 130px;
  height: 127px;
  background: rgba(69,100,244,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.paper_outer_gradient {
  width: 130px;
  height: 127px;
  background: linear-gradient(rgba(255,255,255,0.0966455414891243), rgba(255,255,255,0.00009999999747378752));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.paper_inner_gradient {
  width: 100px;
  height: 100px;
  background: url("../images/v0_1381.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 15px;
  overflow: hidden;
}
.paper_inner_shadow {
  width: 100px;
  height: 100px;
  background: rgba(186,190,211,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.paper_inner_white {
  width: 100px;
  height: 95px;
  background: linear-gradient(rgba(243,243,243,1), rgba(217,217,217,1));
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border-radius: 50%;
}
.paper_img {
  width: 49px;
  height: 57px;
  background: url("../images/v0_1384.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 25px;
  overflow: hidden;
}
.paper_img1 {
  width: 43px;
  height: 52px;
  background: rgba(58,66,97,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  transform: rotate(-3deg);
}
/*Paper ends*/
/*scissors begins*/

.hands .scissors{
position: relative;
}
.scissors_outer_shawdow {
  width: 129px;
  height: 132px;
  background: rgba(199,107,26,1);
  opacity: 1;
  
  
  top: 0px;
  left: 0px;
  border-radius: 50%;
  box-shadow: 0px 3px 3px rgb(0 0 0 / 20%);
}
.scissors_box {
  width: 130px;
  height: 127px;
  background: rgba(235,159,13,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.scissors_outer_gradient {
  width: 130px;
  height: 127px;
  background: linear-gradient(rgba(255,255,255,0.0966455414891243), rgba(255,255,255,0.00009999999747378752));
  opacity: 1;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  position: absolute;
}
.scissors_inner_gradient {
  width: 100px;
  height: 100px;
  background: url("../images/v0_1381.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 15px;
  overflow: hidden;
}
.scissors_inner_shadow {
  width: 100px;
  height: 100px;
  background: rgba(186,190,211,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.scissors_inner_white {
  width: 100px;
  height: 95px;
  background: linear-gradient(rgba(243,243,243,1), rgba(217,217,217,1));
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border-radius: 50%;
}
.scissors_img {
  width: 49px;
  height: 57px;
  background: url("../images/v0_1384.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 25px;
  overflow: hidden;
}
.scissors_img1 {
  width: 43px;
  height: 52px;
  background: rgba(58,66,97,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  transform: rotate(-3deg);
}
/*Scissors ends*/
/*rock begins*/

.hands .rock{
position: relative;
margin-top: 134.5px;
}
.rock_outer_shawdow {
  width: 130px;
  height: 133px;
  background: rgba(156,21,52,1);
  opacity: 1;
  
  top: 0px;
  left: 0px;
  border-radius: 50%;
  box-shadow: 0px 3px 3px rgb(0 0 0 / 20%);
}
.rock_box {
  width: 130px;
  height: 127px;
  background: rgba(219,45,77,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.rock_outer_gradient {
  width: 130px;
  height: 127px;
  background: linear-gradient(rgba(255,255,255,0.0966455414891243), rgba(255,255,255,0.00009999999747378752));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.rock_inner_gradient {
  width: 100px;
  height: 100px;
  background: url("../images/v0_1381.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 15px;
  overflow: hidden;
}
.rock_inner_shadow {
  width: 100px;
  height: 100px;
  background: rgba(186,190,211,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;

}
.rock_inner_white {
  width: 100px;
  height: 95px;
  background: linear-gradient(rgba(243,243,243,1), rgba(217,217,217,1));
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border-radius: 50%;
}
.rock_img {
  width: 49px;
  height: 57px;
  background: url("../images/v0_1384.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 25px;
  overflow: hidden;
}
.rock_img1 {
  width: 43px;
  height: 52px;
  background: rgba(58,66,97,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  transform: rotate(-3deg);
}
/*rock ends*/

.contest{
  width: 900px;
  display: none;
  margin-top: 50px;
  
}
.contest .handImageContainer {
  
 
  position: absolute;
 background-position: center center;
  justify-content: center;
  margin-left: 25%;
  margin-top: 25%;
 
}
.computerhand{
 
 
  display: flex;
  flex-direction: column;
 margin-bottom: 20px;
  
}
.userhand{
 
  position: relative;
  background-position: center;
  display: flex;
  flex: 1;
  flex-direction: column;
 
  
  
}
.userchoice{
  position: relative;
align-self: center;
 
justify-self : center;
  
}
.referee{
  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.computerchoice{
position: relative;
align-self: center;
 
justify-self : center;
  
  
  
}

.contest h1{
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contest > div {
  flex: 1;
  text-align: center;
}
.contest .handImageContainer{
  display: flex;
  justify-content: center;
}
.newGame{
  background: white;
  padding: 12px 24px;
  border-radius: 6px;
  color: hsl(229,25%,31%);
  cursor: pointer;
  transition: all 0.15s;
}
.newGame:hover{
  background-color: bisque;
  transform: translate3d(0px, -2px, 0px);

}

.contest .rock{
  margin: 0;
display: none;
}

.contest .scissors{
  margin: 0;
  
  display: none;
}

.bonus .bg_pentagon{
  width: 345px;
  height: 345px;
  background-image: url(./images/bg-pentagon.svg);
  background-repeat: no-repeat;
  position: absolute;
  margin-top: 66.5px;
}
.bonus{
  width: 470px;
height: 430px;
  margin-top: 48px;

  
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    position: relative;


}
/*Paper begins*/

.bonus .paper{
position: absolute;
margin-left: 160px;
margin-top: 119px;
}
.bonus .rock{
position: absolute;
margin-top: 307px;
margin-right: -50px;
}
.bonus .scissors{
margin-right: 0;
margin-left: -138px;
position: absolute;
}

.bonus .paper_outer_shawdow {
position: absolute;
}
.bonus .scissors_outer_shawdow{
position: absolute;
}
.bonus .rock_outer_shawdow{
position: absolute;
}
.stage10 .lizard_outer_shawdow{
position: none;
}

.stage9 .spock_outer_shawdow{
position: none;
}


/*lizard*/
.bonus .lizard{
position: absolute;
margin-top: 300px;
margin-left: -225px;
}
.lizard_outer_shawdow {
  width: 130px;
  height: 133px;
  background: rgba(94,54,167,1);
  opacity: 1;
  
  top: 0px;
  left: 0px;
  border-radius: 50%;
  box-shadow: 0px 3px 3px rgb(0 0 0 / 20%);
}
.lizard_box {
  width: 130px;
  height: 127px;
  background: rgba(130,78,226,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.lizard_outer_gradient {
  width: 130px;
  height: 127px;
  background: linear-gradient(rgba(255,255,255,0.0966455414891243), rgba(255,255,255,0.00009999999747378752));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.lizard_inner_gradient {
  width: 100px;
  height: 100px;
  background: url("../images/v0_1381.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 15px;
  overflow: hidden;
}
.lizard_inner_shadow {
  width: 100px;
  height: 100px;
  background: rgba(186,190,211,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;

}
.lizard_inner_white {
  width: 100px;
  height: 95px;
  background: linear-gradient(rgba(243,243,243,1), rgba(217,217,217,1));
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border-radius: 50%;
}
.lizard_img {
  width: 63px;
  height: 60px;
  background: url("../images/v0_1384.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 25px;
  overflow: hidden;
}
.lizard_img1 {
  width: 63px;
  height: 60px;
  background: rgba(58,66,97,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  transform: rotate(-3deg);
}
/*lizard ends*/

/*spock begins*/
.bonus .spock{
  position: absolute;
  margin-top: 119px;
  margin-left: -350px;
 
 
}
.spock_outer_shawdow {
  width: 130px;
  height: 133px;
  background: rgba(45,140,171,1);
  opacity: 1;

  top: 0px;
  left: 0px;
  border-radius: 50%;
  box-shadow: 0px 3px 3px rgb(0 0 0 / 20%);
}
.spock_box {
  width: 130px;
  height: 127px;
  background: rgba(63,183,204,1);
  opacity: 1;
  position: absolute;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.spock_outer_gradient {
  width: 130px;
  height: 127px;
  background: linear-gradient(rgba(255,255,255,0.0966455414891243), rgba(255,255,255,0.00009999999747378752));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.spock_inner_gradient {
  width: 100px;
  height: 100px;
  background: url("../images/v0_1381.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 15px;
  overflow: hidden;
}
.spock_inner_shadow {
  width: 100px;
  height: 100px;
  background: rgba(186,190,211,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;

}
.spock_inner_white {
  width: 100px;
  height: 95px;
  background: linear-gradient(rgba(243,243,243,1), rgba(217,217,217,1));
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border-radius: 50%;
}
.spock_img {
  width: 63px;
  height: 60px;
  background: url("../images/v0_1384.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 25px;
  overflow: hidden;
}
.spock_img1 {
  width: 63px;
  height: 60px;
  background: rgba(58,66,97,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  transform: rotate(-3deg);
}
/*rock ends*/